{{ 'section-contact-page.css' | asset_url | stylesheet_tag }}

<section class="contact-help-section">
  <div class="container container--large">

    <div class="features-header text-center">
      <h1> {{section.settings.title}}</h1>
      <p class="features_desc">
        {{section.settings.desc | newline_to_br }}
      </p>
    </div>
    <div class="main-help">
      <div class="main-help-feature">
        {%for block in section.blocks%}
        {% if block.type == 'contact' %}
        <div class="help-feature">
          <div class="help-img">
            {%if block.settings.contact_feature_image !=blank%}
            <img src="{{block.settings.contact_feature_image | img_url:'70x'}}" alt="">
            {%else%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%endif%}
          </div>
          <div class="help-content">
            {{block.settings.feature_text | newline_to_br}}
          </div>
        </div>
        {% endif %}
        {%endfor%}
      </div>
    </div>
  </div>
</section>

<section class="contact-form-section container--large">
  <div class="main-form container "> 	
    <div class="form-content">

      {%- for block in section.blocks -%}
      {% if block.type == 'contact-form' %}
      {%-  render 'page-block-contact-form', block: block-%}
      {%- endif -%}
      {%- endfor -%}

    </div>
  </div>
</section>


{% schema %}
{
"name": "contact page",
"class": "new_contact_page",
"presets":[{"name":"Contact Page"}],
"settings": [
{
"id":"title",
"type":"text",
"label":"Enter Title",
"default":"Get In Touch"
},
{
"id":"desc",
"type":"textarea",
"label":"Enter Description"
}

],
"blocks":[
{
"type":"contact",
"name":"contact features",
"limit":4,
"settings":[
{
"type":"image_picker",
"id":"contact_feature_image",
"label":"choose image for feature"
},
{
"type":"html",
"id":"feature_text",
"label":"Text"
}
]
},
{
"type": "contact-form",
"name": "Contact form",
"settings": [
{
"type": "paragraph",
"content": "All submissions are sent to the customer email address of your store. [Learn more](https://help.shopify.com/en/manual/using-themes/change-the-layout/add-contact-form#view-contact-form-submissions)."
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "textarea",
"id": "details",
"label": "Details"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
