
{% layout 'theme.custom' %}



<section class="banner_wrapper">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="entry-content">
          <img
            src="{{ 'cbf_logo.png' | asset_url }}"
            class="logo"
            alt="logo"
            loading="lazy" />
          <h2 class="entry-description">The most bioavailable and therapeutic source of L-methylfolate on the market.
          </h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="entry-img doc">
          <img
            src="{{ 'cbf_doc.png' | asset_url }}"
            alt="doctor"
            loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner wrapper -->

<section class="about-wrapper">
  <div class="container">
    <h2 class="section-title">What is Cerebrofolate™?
    </h2>
    <p>Cerebrofolate™ is a calcium salt form of (65)-5-methyltetrahydrofolate (or L-5-MTHF). L-5-MTHF is the predominant micronutrient form of folate that circulates in plasma and is involved in biological processes.</p>
    <p>Cerebrofolate™ is readily metabolized by Ca<sup>2+</sup>
      and L-5-MTHF ions for absorption by intestinal cells.<sup>(1)</sup>
      It is then transferred to the liver, where it is either stored or released back into circulation for distribution to other tissues.</p>
  </div>
</section>
<!-- about wrapper -->

<section class="featured-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="entry-single">
          <h3 class="entry-title">Superior Absorption</h3>
          <img
            src="{{ 'cbf_absorption.jpg' | asset_url }}"
            alt="absorption"
            loading="lazy" />
          <p>Cerebrofolate™ is metabolically active. It requires no further conversion in the body. Unlike folic acid, Cerebrofolate™ bypasses folate metabolism and is immediately available for numerous biological processes.
          </p>
        </div>

      </div>
      <div class="col-md-3">
        <div class="entry-single">
          <h3 class="entry-title">Approved for MTHFR</h3>
          <img
            src="{{ 'cbf_mthfr.jpg' | asset_url }}"
            alt="mthfr"
            loading="lazy" />
          <p>An estimated 40% of the world’s population are unable to metabolize folic acid due to a mutation on the MTHFR gene. This gene instructs the body to create the MTHFR enzyme, which is required to metabolize folic acid.
          </p>
        </div>

      </div>
      <div class="col-md-3">
        <div class="entry-single">
          <h3 class="entry-title">Zero Risk of UMFA</h3>
          <img
            src="{{ 'cbf_umfa.jpg' | asset_url }}"
            alt="umfa"
            loading="lazy" />
          <p>Ingesting >200 mcg folic acid from supplements and/or fortified foods can lead to a buildup of unmetabolized folic acid (UMFA) in the body. UMFA has been associated with numerous health concerns, including masking a B12 deficiency, impaired immune function, and an increased risk of cancer.
            <sup>(2)</sup>
          </p>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- featured wrapper -->

<section class="benefit-wrapper">
  <div class="container">
    <h2 class="section-title">Benefits of Cerebrofolate™</h2>

    <div class="entry-single">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="entry-img">
            <img
              src="{{ 'cbf_featured-1.jpg' | asset_url }}"
              alt="reduce neural tube defects"
              loading="lazy" />
            <img
              class="card"
              src="{{ 'cbf_card-1.jpg' | asset_url }}"
              alt="card-1"
              loading="lazy" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="entry-content">
            <h3 class="entry-title">May Reduce Neural Tube Defects
            </h3>
            Supplemental methylfolate is recommended over folic acid during pregnancy due to its superior absorption and reduced risk of UMFA.  Methylfolate can effectively improve folate biomarkers during pregnancy to prevent Neural Tube Defects.<sup>(3)</sup>
          </div>
        </div>
      </div>
    </div>
    <!-- entry-single -->
    <div class="entry-single">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-6">
          <div class="entry-img">
            <img
              src="{{ 'cbf_featured-2.jpg' | asset_url }}"
              alt="supports healthy mood"
              loading="lazy" />
            <img
              class="card"
              src="{{ 'cbf_card-2.jpg' | asset_url }}"
              alt="card-2"
              loading="lazy" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="entry-content">
            <h3 class="entry-title">Supports Healthy Mood</h3>
            Low levels of active folate are associated with treatment-resistant depression(TRD). Clinical studies indicate that L-5-MTHF Calcium 15mg can enhance antidepressant response in those with TRD as well as supporting healthy mood.<sup>(4)</sup>
          </div>
        </div>
      </div>
    </div>
    <!-- entry-single -->
    <div class="entry-single">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="entry-img">
            <img
              src="{{ 'cbf_brain-health.jpg' | asset_url }}"
              alt="supports brain health"
              loading="lazy" />
            <img
              class="card"
              src="{{ 'cbf_card-3.jpg' | asset_url }}"
              alt="card-3"
              loading="lazy" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="entry-content">
            <h3 class="entry-title">Supports Brain Health</h3>
            L-5-MTHF is the only folate form that can cross the blood brain barrier to support brain health naturally. L-methylfolate is essential in the brain for making neurotransmitters and DNA.
          </div>
        </div>
      </div>
    </div>
    <!-- entry-single -->
    <div class="entry-single">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-6">
          <div class="entry-img">
            <img
              src="{{ 'cbf_support-health.jpg' | asset_url }}"
              alt="supports health"
              loading="lazy" />
            <img
              class="card"
              src="{{ 'cbf_card-4.jpg' | asset_url }}"
              alt="card-4"
              loading="lazy" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="entry-content mt-5">
            <h3 class="entry-title">Supports Cardiovascular Health</h3>
            Homocysteine is an amino acid that can severely impact cardiovascular health. Elevated homocysteine occurs when the body is unable to convert homocysteine to methionine. This is triggered by genetic mutations or insufficient body stores of active vitamins B6, B12, and folate, causing vasoconstriction in the central nervous system<sup>(5)</sup>. Chronically elevated homocysteine is associated with numerous major medical conditions, including heart disease, stroke, Parkinson’s disease, and Alzheimer’s disease.<sup>(6)</sup>
          </div>
        </div>
      </div>
    </div>
  <!-- entry-single -->
  </div>

</section>
<!-- benefit wrapper -->

<section class="hero-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="entry-title">Cerebrofolate™ is a stabilized crystalline molecule type form of L-5-MTHF Calcium. It will retain its stability for up to 2 years when stored at room temperature.
        </h2>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
<!-- hero wrapper -->

<section class="compare-wrapper">
  <div class="container">
    <div class="section-head text-center">
      <h2 class="section-title">Compare Cerebrofolate™<br>to Other L-5-MTFH Calcium Methylfolates</h2>
      <p class="mt-4">L-5-MTHF calcium supplements are available in two forms:
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="entry-single text-center">
          <img
            src="{{ 'cbf_unstable.jpg' | asset_url }}"
            alt="unstable"
            loading="lazy" />
          <p>Unstable amorphous type</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="entry-single text-center">
          <img
            src="{{ 'cbf_stablize.jpg' | asset_url }}"
            alt="stabilize"
            loading="lazy" />
          <p>
            <strong>Stabilized crystalline</strong>
            type<br> (key for maintaining stability and ensuring potency over time)</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="compare-wrapper style-2">
  <div class="container">
    <div class="section-head text-center">
      <h2 class="section-title">Cerebrofolate™  quality control is superior<br>to other L-5-MTHF calcium supplements in several ways.</h2>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="entry-single text-center">
          <div class="entry-img">
            <img
              src="{{ 'cbf_solvent.jpg' | asset_url }}"
              alt="solvent"
              loading="lazy" />
          </div>
          <h3 class="entry-title">Minimal solvents</h3>
          <div class="content">Many brands use acetone or isopropyl alcohol during their manufacturing process, which can aﬀect the purity of the ﬁnished product. Only ethanol is used during production to ensure that Cerebrofolate™ is as pure as possible.</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="entry-single text-center">
          <div class="entry-img">
            <img
              src="{{ 'cbf_contamination.jpg' | asset_url }}"
              alt="contamination"
              loading="lazy" />
          </div>
          <h3 class="entry-title">No risk of contamination</h3>
          <div class="content">Cerebrofolate™ is manufactured in its own production line to eliminate the risk of cross-contamination.</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="entry-single text-center">
          <div class="entry-img">
            <img
              src="{{ 'cbf_purity.jpg' | asset_url }}"
              alt="purity"
              loading="lazy" />
          </div>
          <h3 class="entry-title">Purity</h3>
          <div class="content">Most competitors test only one out of every five batches.
            <b style="font-weight:700">EVERY SINGLE BATCH of Cerebrofolate™ gets tested.</b>
            Our comprehensive testing for heavy metals and impurities (such as platinum, arsenic, cadmium, lead and mercury) ensures the purity and stability of our product. Regular test results show “Not Detected” for the heavy metals and inactive isomer type impurities (D-5-Methylfolate, Ca) batch over batch.</div>
        </div>
      </div>
    </div>

    <div class="compare-note">
      <a href="https://linkinghub.elsevier.com/retrieve/pii/S221475001930232X" target="_blank">
        [1] https://linkinghub.elsevier.com/retrieve/pii/S221475001930232X
      </a>
      <br>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8961567/" target="_blank">
        [2] https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8961567/
      </a>
      <br>
      <a href="https://pubmed.ncbi.nlm.nih.gov/23482308/" target="_blank">
        [3] https://pubmed.ncbi.nlm.nih.gov/23482308/
      </a>
      <br>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3869616/" target="_blank">
        [4] https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3869616/
      </a>
      <br>
      <a href="https://academic.oup.com/ajh/article/35/4/303/6475983" target="_blank">
        [5] https://academic.oup.com/ajh/article/35/4/303/6475983
      </a>
      <br>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6491750/" target="_blank">
        [6] https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6491750/
      </a>
    </div>
  </div>
</section>

<section class="contact-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- <div class="form-wrap">
          <h3 class="entry-title">Interested in Learning More About Cerebrofolate™</h3>
          {% form 'contact' %}
            {% if form.posted_successfully? %}
              <p class="quote">Posted succcessfully</p>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[first-name]"
                id="name"
                placeholder="First Name*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[last-name]"
                id="name"
                placeholder="Last Name*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[busines_name]"
                id="business_name"
                placeholder="Business Name*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[busines_type]"
                id="business_type"
                placeholder="Business Type*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[phone_number]"
                id="phone_number"
                placeholder="Phone Number*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[email]"
                id="email"
                placeholder="Email*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[tax_id]"
                id="tax_id"
                placeholder="Tax id/EIN*"
                required>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[practioner_id]"
                id="practioner_id"
                placeholder="PRACTIONER ID">
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[montly_sales]"
                id="monthly_sales"
                placeholder="MONTHLY SALES">
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="contact[website]"
                id="website"
                placeholder="WEBSITE">
            </div>
            <button type="submit" class="btn">Submit</button>
          {% endform %}
        </div> -->
      </div>
      <div class="col-md-6">
        <div class="dowload-pdf">
          <h4 class="entry-title">Download PDF for more information</h4>
          <img
            src="{{ 'cbf_arrow.png' | asset_url }}"
            alt="arrow"
            class="arrow"
            loading="lazy" />
          <a target="_blank" href="https://cdn.shopify.com/s/files/1/0264/6369/9018/files/Cerebrofolate_Brochure_sm.pdf?v=1696021040"><img
              src="{{ 'cbf_download-pdf.png' | asset_url }}"
              alt="download pdf"
              loading="lazy" /></a>
        </div>
      </div>
    </div>
  </div>
</section>